#corpo img{
  margin-bottom: 32px;
}

#corpo{
  text-align: center;
  margin: auto;
}

h1{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #3F3D56;
}

span{
  color: #EE24FF;
}
strong{
  color: #3F3D56;
}

#flutuar{
  color: #828282;
  
}

p{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #828282;
}

a{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#footer a + a{
  margin-left: 42px;
}


#ondas{
  position: fixed;
  width: 100%;
  left: 0px;
  
}